<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Paired Program Page</title>
          <link rel="stylesheet" href="/css/styles.css">
     </head>
     <body>
          <header>
               <h1>Static Node App</h1>
               <p>Maple & Gabby</p>
          </header>
          <div id="groupedBoxes">
               <div class="sharedInterest">
                    <h3>Video Games</h3>
                    <img src="/images/video-games.jpg" alt="Image of gaming paraphanelia">
                    <p>Playing video games on the pc and switch!</p>
               </div>
               <div class="sharedInterest">
                    <h3>Manga</h3>
                    <img src="/images/manga.jpg" alt="Pile of manga">
                    <p>Reading manga is fun!</p>
               </div>
               <div class="sharedInterest">
                    <h3>Programming</h3>
                    <img src="/images/programming.jpg" alt="Image of code with the words COMPUTER PROGRAMMING over the top.">
                    <p>Programming~ Java, HTML/CSS, Javascript, SQL, Python</p>
               </div>
          </div>
     </body>
</html>